<li>
    <p>
        <a href="/comments/destroy/<%= comment.id %>">Delete Comment(X)</a>
     </small>

             <%= comment.content %>
             <br>
             <small>
                 <%= comment.user.name %>
             </small>
         </p>
  </li>