<li id="comment-${comment._id }">
    <p>
        <a class = "delete-comment-button" href="/comments/destroy/<%=comment._id %>">Delete Comment(X)</a>
     </small>

             <%= comment.content %>
             <br>
             <small>
                 <%= comment.user.name %>
             </small>
         </p>
  </li>

  