<!-- this is partial file which is used by differenet views multiple time same as function.-->

<heading>
   <h1>Codeial</h1>
    <ul>
        <!-- if user is logged in then-->
        <% if(locals.user) { %>
            <li>
                <!-- handled the error while clicking on user name on top right  navbar or heading section
                and anchor tag is GET reqqest only -->
                <a href="/users/profile/<%= user.id%>"> 
                    <%= user.name %>
                </a>
               
            </li>
            <br>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <!-- if user is not logged in then--> 
        <% } else { %>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            <br>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <% }%>
    </ul>
</heading>

