<div class="account-verify-container">
    <div class="header"> 
        <h1>Account Verified !!!</h1>
    </div>
    
    <div class="instuction" >
        <p>Please check your mail box for further instruction.</p>
    </div>
</div>