<html>
    <head>
      <title>
       <%= title %>
      </title>
    </head>
    <body>
        <%- include('_header'); %>
        <!-- this is the content part that will render at runtime i.e userProfile.ejs or home.js-->
        <%- body %>
        <%- include('_footer'); %>
    </body>
</html>