

<form action="/auth/reset?token_key=<%= token%>" method="POST" class="reset-password-form">
    <span class="login-signup-header">Change Password</span>

    <div class="field">
        <input type="password" name="password" placeholder="New password" required/>
    </div>
    <div class="field">
        <input type="password" name="confirm_password" placeholder="Confirm password" required/>
    </div>
    <div class="field">
        <button type="submit">Submit</button>
    </div>

</form>