
    footer {
        
        background-color: #644597;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between; // Align content to the right
        align-items: center; // Vertically center content
    }
