// this is scss styling file to give style to home.ejs and after this when it will get compile to home.css
// then we will link this home.css file in the home.ejs 
// basiclly we are taking the post at left and freind at right side
#home-container {
    display: flex;
    #feed-posts {
        width: 70%;
        padding: 10px;
    }
    #user-friends {
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgray;
        height: 100%;
    }

}