.login-signup-header {
  font-weight: 600;
  font-size: 30px;
  color: #ef7917; }

.reset-password-form {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 5px auto;
  border-radius: 6px; }

.field {
  width: 100%; }

.field input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px; }

.field input:focus {
  outline: none; }

.field button {
  width: 100%;
  margin-top: 20px;
  background: #ef7917;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none; }

.field button :hover {
  cursor: pointer; }

.account-verify-container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 600px;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .account-verify-container:hover {
    transform: scale(1);
    opacity: 1; }
  .account-verify-container .header {
    margin-bottom: 20px; }
    .account-verify-container .header h1 {
      font-size: 24px;
      color: #17ef1e;
      transition: color 3s ease-in-out;
      /* Apply a color-changing animation to the instruction text */
      animation: changeColor 3s infinite linear; }
  .account-verify-container .instruction p {
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease-in-out;
    /* Apply a color-changing animation to the instruction text */
    animation: changeColor 3s infinite linear; }

@keyframes changeColor {
  0% {
    color: #333; }
  50% {
    color: #17ef1e;
    /* Change to green */ }
  100% {
    color: #333; } }
