h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px; }

#sign-up-form {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto; }
  #sign-up-form input[type="text"],
  #sign-up-form input[type="email"],
  #sign-up-form input[type="password"],
  #sign-up-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
  #sign-up-form input[type="submit"] {
    background-color: #97ce0d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; }
  #sign-up-form input[type="submit"]:hover {
    background-color: #555; }

p #googlesign-in-up {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 2%;
  margin-left: 33.59%;
  width: 30.20%;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #f33016;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif; }

p #googlesign-in-up:hover {
  background-color: #357AE8; }
